.white
{
    color: white;
}
.strip_wrapper
{
    background-color: #10131a;
}
#bg_about_us
{
    background-color: #6476a1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

#title_middle
{
    border-style: groove;
    color: whitesmoke;
    font-size: 45px;
    text-align: center;
    font-family: Papyrus,fantasy;
    text-shadow: 2px 2px #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration-style: wavy;

}
.body_about
{
    font-family: Papyrus,fantasy;
    width: 1000px;
    text-align: center;
    font-size: 70;
    background-color: #252e42;
    color: whitesmoke;
    background-clip: padding-box;
    padding: 10px 10px 10px 10px;
    float: center;
    text-shadow: -1.8px -1.8px 1px #666;
    border-radius: 55px;
    display:inline-block;
}
ne-block;
}
.head
{
    font-family: Papyrus,fantasy;
    background-repeat: no-repeat, repeat;
    background-color: #2d545e, #12343b;
    background-blend-mode: lighten;
}
#news_sources
{
    color: white;
    font-family: Papyrus,fantasy;
    text-align: center;
    font-size: 120px;
    border-style: hidden;
}
nav
{
    font-family: Papyrus,fantasy;
    background-color: silver;
    width: 1200px;
    height: 50px;
}
#container
{
    font-family: Papyrus,fantasy;
    background: #6476a1;
    width: 1200px;

    margin: 0 auto;
    border: 1px solid_black;
}
header
{
    font-family: Papyrus,fantasy;
    background-color: #6476a1;
    width: 1200px;
    height: 70px;
}

.iframe_header
{
    color: white;
    font-family: Papyrus,fantasy;
    align-content: center;
}
.news_source
{
    background: url('photos/newsbreak.jpg');
    background-size: cover;
}
section header
{
    font-family: Papyrus,fantasy;
    background: none;
    width: 0;
    height: 0;
}
section
{
    font-family: Papyrus,fantasy;
    background: url('photos/background+for+website+headers.jpg');
    background-size: cover;
    width: 900px;
    height: 1400px;
    float: left;
}
aside
{
    font-family: Papyrus,fantasy;
    background-color: #6476a1;
    width: 300px;
    height: 500px;
    float: left;
}
footer
{
    font-family: Papyrus,fantasy;
    background-color: yellow;
    width: 1200px;
    height: 50px;
}
#form_align
{
    font-family: Papyrus, fantasy;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
.column
{
    font-family: Papyrus,fantasy;
    float: left;
    padding: 20px;
}

.left, .right
{
    font-family: Papyrus,fantasy;
    width: 33.33333%;
    height: 110%;
}

.middle
{
    font-family: Papyrus,fantasy;
    width: 33%;
    height: 110%;
}

.row:after
{
    font-family: Papyrus,fantasy;
    content: "";
    display: table;
    clear: both;
}
#body_bg
{
    background: url('photos/images.jpg');
    background-size: cover;
}
<<<<<<< HEAD

#about_us
{
    text-align: center;
    scroll-behavior: smooth;
    font-family: Papyrus, fantasy;
    font-size: 20;
    color: white;
}
#ul1
{
    font-family: Papyrus,fantasy;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
ul
{
    list-style: none;
}
li a
{
    font-family: Papyrus, fantasy;
    font-size: 40;
    display: block;
    color: #000;
    padding: 20px 20px;
    text-decoration: none;
}

li a.active
{
    font-family: Papyrus, fantasy;
    font-size: 40;
    background-color: black;
    color: white;
}

li a:hover:not(.active)
{
    background-color: #555;
    color: white;
    font-family: Papyrus, fantasy;
    font-size: 40;
}
=======

.button
{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1
{

    background-color: red;
}
.button2
{

    background-color: blue;
}
.button3
{
    background-color: #6476a1;
}
>>>>>>> MiddleGround/master
